$primary_color: #333;

body {
  background-color: $primary_color;
  font: {
    family: Verdana, Helvetica, Arial;
    size: 14px;
  }
}

a {
  color: #0000FF;
  img {
    border: none;
  }
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}



#container {
  width: 90%;
  margin: 0 auto;
  background: #fff;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#navigation_links{
  width : 80px;
  background: #DDD;
  margin-left : -90px;
  font-family: arial;
  position : absolute;
}

#navigation_links p{
  margin-top: -10px;
}

#content {
  clear: both;
  padding-top: 20px;
}

#popular_articles{
  background: #ccc;
  margin-top : -180px;
  margin-left : 40%;
  width : 200px;
  position : absolute;
}

#popular_articles p{
  align-text : center;
}